/*html, body {
  background: grey;
}*/
/* #micanvas {
  position: absolute; 
	height: 80%;
  width:  70%;
  top: 0px;
  left: 120px;
} */
@media only screen and (orientation:portrait) {
/* (desktop y laptops para menos de 799px)*/
	html, body {
		background: white;
		font-family: Verdana;			
	}
	#micanvas {
		margin: 2%;		
		height: 85%;
		width:  95%;	
		display: block;		
	}
	#opciones {			
		display: inline;
		position: relative;		
		text-align:center;
		width: 100px;		
		font-size: 25px;
    }
	#avanzar {		
		display: inherit;		
		padding: 13px;
		font-size: medium;
		padding-right: 25px;
		padding-left: 25px;
		margin-right: 10px;
    }
	#mapas {		
		display: inherit;
		padding: 13px;
    }
	#cargar {		
		display: inherit;
		padding: 13px;
    }
	#tituloOpciones	 {	
		display: inherit;		
		margin-right: 8px;
		margin-left: 10px;
    }
	#descargarMapas	 {
		display: inherit;
		padding: 13px;
    }
	#descargarMapasMsj {
		font-size: small;
		color: green;		
    }
	#tituloMapas{
		font-size: small;
	}
}
@media only screen and (orientation:landscape) {
/* (desktop y laptops para mas de 800px)*/
	html, body {
		background: white;
		font-family: Verdana;	
	}
	#micanvas {		
		display: block;
		position: absolute; 
		margin: 3%;
		height: 85%;
		width:  82%;
		top: 15px;
		left: 120px;
	}
	#opciones {	
		position: absolute;
		margin: 10px;
		font-size: 25px;
		display: block;		
		text-align:center;
		width: 100px;		
    }
	#avanzar {
		font-size: medium;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 18px;
		display: inherit;		
    }
	#mapas {		
		display: inherit;
		padding: 13px;
    }
	#cargar {
		margin-top: 10px;
		margin-bottom: 20px;
		display: inherit;
		padding: 9px;
    }
	#tituloOpciones	 {
		margin-top: 10px;
		display: inherit;
    }
	#descargarMapasMsj {
		margin-top: 10px;
		font-size: small;
		color: green;		
    }
	#tituloMapas{		
		font-size: small;
	}
}

/* TODO LO DE ARRIBA REPETIDO PERO PARA PORTRAIT Y LANDSCAPE PARA HANDHELDS 
   HACE RUIDO CON LO DE ARRIBA SI SE CRUZAN LOS TAMAÑOS DE PIXELES
*/
/*
@media only screen and (max-width: 799px) and (orientation:portrait){

	html, body {
		background: white;	
		font-family: Verdana;
	}
	#micanvas {
		margin: 2%;		
		height: 85%;
		width:  95%;	
		display: block;		
	}
	#opciones {	
		display: inline;
		position: relative;		
		text-align: center;
		height: 30px;
		width: 50px;
    }
	#avanzar {		
		display: inherit;
		padding: 13px;
		padding-right: 25px;
		padding-left: 25px;
		margin-right: 15px;
    }
	#mapas {		
		display: inherit;
		padding: 13px;
    }
	#cargar {		
		display: inherit;
		padding: 13px;
    }
	#tituloOpciones	 {
		font-size: 25px;		
		display: inherit;
		margin-right: 20px;
		margin-left: 10px;
    }
}
@media only screen and (min-width : 800px) and (orientation:landscape)  {

	html, body {
		background: white;	
		font-family: Verdana;
	}
	#micanvas {		
		display: block;
		position: absolute; 
		margin: 3%;
		height: 85%;
		width:  82%;
		top: 15px;
		left: 120px;
	}
	#opciones {	
		margin: 18px;
		font-size: 25px;
		display: block;
		position: relative;		
		text-align:center;
		width: 100px;		
    }
	#avanzar {
		margin-top: 30px;
		display: inherit;
		padding: 23px;
    }
	#mapas {
		margin-top: 30px;
		display: inherit;
		padding: 13px;
    }
	#cargar {
		margin-top: 10px;
		display: inherit;
    }
	#tituloOpciones	 {
		margin-top: 10px;
		display: inherit;
    }
}
*/
